<section>
  <h1>US Time Zone Display</h1>
  <div>
    <button
      [ngClass]="{
        active: 'PST' === active,
        inactive: 'PST' !== active
      }"
     (click)="onClick('PST')" >
      PST
    </button>
    <button
      [ngClass]="{
        active: 'MST' === active,
        inactive: 'MST' !== active
      }"
      (click)="onClick('MST')"
    >
      MST
    </button>
    <button
      [ngClass]="{
        active: 'CST' === active,
        inactive: 'CST' !== active
      }"
      (click)="onClick('CST')"
    >
      CST
    </button>
    <button
      [ngClass]="{
        active: 'EST' === active,
        inactive: 'EST' !== active
      }"
      (click)="onClick('EST')"
    >
      EST
    </button>
    <button
      class="inactive"
      (click)="onClick('Clear')"
    >
      Clear
    </button>
  </div>
  <!-- 'active' is the timezone for the pipe -->
  <!-- but the pipe does not correct for daylight savings time -->
  <h3 *ngIf=" active !== 'Clear' ">{{ currentTime | date:'long':active }}</h3>
</section>
