* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, 'Trebuchet MS', sans-serif;
}

section {
  width: 90%;
  margin: 50px auto 25px;
  text-align: center;
}

button {
  margin: 10px;
  padding: 8px 24px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
}

.active {
  background-color: yellow;
}

.inactive {
  background-color: whitesmoke;
}
